<colgroup>
  <col class="col-expander" data-col-id="expander">
  <col class="col-symbol" data-col-id="symbol">
  {% if show_account %}
  <col class="col-account" data-col-id="account">
  {% endif %}
  <col class="col-cap" data-col-id="cap">
  <col class="col-sector" data-col-id="sector">
  <col class="col-52w" data-col-id="pct52w">
  <col class="col-upside" data-col-id="upside">
  <col class="col-signal" data-col-id="signal">
  <col class="col-weight" data-col-id="weight">
  <col class="col-qty" data-col-id="qty">
  <col class="col-avg" data-col-id="avg">
  <col class="col-ltp" data-col-id="ltp">
  <col class="col-value" data-col-id="value">
  <col class="col-pnl" data-col-id="pnl">
</colgroup>
